Repository Stonepaw/ComicRack-Community-Scripts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

refactor: rename the validate scripts action
  .github/workflows/ci.yaml
  .husky/pre-commit
  .idea/ComicRack-Community-Scripts.iml
  .idea/modules.xml
  README.md
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: add script schema codegen
  codegen/generate-schema.ts
  codegen/load-scripts.ts
  codegen/transform.ts
  package.json
  scripts/script-schema.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: add script template.yaml
  scripts/library-organizer.yaml
  scripts/template.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

docs: add template docs
  README.md
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: add the script template and yaml schema file (#4)
  .github/workflows/ci.yaml
  .husky/pre-commit
  .idea/ComicRack-Community-Scripts.iml
  .idea/modules.xml
  README.md
  codegen/generate-schema.ts
  codegen/load-scripts.ts
  codegen/transform.ts
  package.json
  scripts/library-organizer.yaml
  scripts/script-schema.yaml
  scripts/template.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: update the codegen to use nested directories
  codegen/generate-category-lists.ts
  codegen/generate-details.ts
  codegen/load-scripts.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore: update the link name for the library organizer project link
  scripts/library-organizer.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: add smart list scripts
  scripts/smart-lists/books-with-pages-marked-deleted.yaml
  scripts/smart-lists/books-with-pages-marked.yaml
  scripts/smart-lists/expand-by.yaml
  scripts/smart-lists/extract-all-pages.yaml
  scripts/smart-lists/files-not-found.yaml
  scripts/smart-lists/find-duplicates-based-on-cvdb.yaml
  scripts/smart-lists/find-missing-issue-gaps.yaml
  scripts/smart-lists/find-volumes-with-different.yaml
  scripts/smart-lists/first-x-in-each-y.yaml
  scripts/smart-lists/list-comic-files-in-directory.yaml
  scripts/smart-lists/next-issue-to-read-in-series-group-by-publish-date.yaml
  scripts/smart-lists/next-issues-to-read.yaml
  scripts/smart-lists/proposed-values.yaml
  scripts/smart-lists/same-x-different-y.yaml
  scripts/smart-lists/series-count-is.yaml
  scripts/smart-lists/series-has-read-and-unread-books.yaml
  scripts/smart-lists/smartlist-scripts.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

fix: omit the $schema from the codegen
  codegen/transform.ts
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

chore: add the yaml schema directory paths
  .idea/jsonSchemas.xml
  .vscode/settings.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

chore: remove the $schema entry
  scripts/library-organizer.yaml
  scripts/smart-lists/books-with-pages-marked-deleted.yaml
  scripts/smart-lists/books-with-pages-marked.yaml
  scripts/smart-lists/expand-by.yaml
  scripts/smart-lists/extract-all-pages.yaml
  scripts/smart-lists/files-not-found.yaml
  scripts/smart-lists/find-duplicates-based-on-cvdb.yaml
  scripts/smart-lists/find-missing-issue-gaps.yaml
  scripts/smart-lists/find-volumes-with-different.yaml
  scripts/smart-lists/first-x-in-each-y.yaml
  scripts/smart-lists/list-comic-files-in-directory.yaml
  scripts/smart-lists/next-issue-to-read-in-series-group-by-publish-date.yaml
  scripts/smart-lists/next-issues-to-read.yaml
  scripts/smart-lists/proposed-values.yaml
  scripts/smart-lists/same-x-different-y.yaml
  scripts/smart-lists/series-count-is.yaml
  scripts/smart-lists/series-has-read-and-unread-books.yaml
  scripts/smart-lists/smartlist-scripts.yaml
  scripts/template.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: add better errors when validating the scripts
  codegen/script-validator.ts
  codegen/validate.ts
  package-lock.json
  package.json
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: import smart list scripts (#6)
  .idea/jsonSchemas.xml
  .vscode/settings.json
  codegen/generate-category-lists.ts
  codegen/generate-details.ts
  codegen/load-scripts.ts
  codegen/script-validator.ts
  codegen/transform.ts
  codegen/validate.ts
  package-lock.json
  package.json
  scripts/library-organizer.yaml
  scripts/smart-lists/books-with-pages-marked-deleted.yaml
  scripts/smart-lists/books-with-pages-marked.yaml
  scripts/smart-lists/expand-by.yaml
  scripts/smart-lists/extract-all-pages.yaml
  scripts/smart-lists/files-not-found.yaml
  scripts/smart-lists/find-duplicates-based-on-cvdb.yaml
  scripts/smart-lists/find-missing-issue-gaps.yaml
  scripts/smart-lists/find-volumes-with-different.yaml
  scripts/smart-lists/first-x-in-each-y.yaml
  scripts/smart-lists/list-comic-files-in-directory.yaml
  scripts/smart-lists/next-issue-to-read-in-series-group-by-publish-date.yaml
  scripts/smart-lists/next-issues-to-read.yaml
  scripts/smart-lists/proposed-values.yaml
  scripts/smart-lists/same-x-different-y.yaml
  scripts/smart-lists/series-count-is.yaml
  scripts/smart-lists/series-has-read-and-unread-books.yaml
  scripts/smart-lists/smartlist-scripts.yaml
  scripts/template.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: add the scrapers scripts
  scripts/scrapers/amazon-scraper.yaml
  scripts/scrapers/bedetheque-scraper-2.yaml
  scripts/scrapers/bonelli.yaml
  scripts/scrapers/comic-vine-scraper.yaml
  scripts/scrapers/diabolik-scraper.yaml
  scripts/scrapers/from-ducks.yaml
  scripts/scrapers/scrapetxt.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: add the scrapers scripts (#7)
  scripts/scrapers/amazon-scraper.yaml
  scripts/scrapers/bedetheque-scraper-2.yaml
  scripts/scrapers/bonelli.yaml
  scripts/scrapers/comic-vine-scraper.yaml
  scripts/scrapers/diabolik-scraper.yaml
  scripts/scrapers/from-ducks.yaml
  scripts/scrapers/scrapetxt.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: allow empty url for a version to handle some cases
  codegen/script-schema.ts
  scripts/script-schema.yaml
  src/lib/type/comic-rack-script.type.ts
  src/routes/script/[name]/SidebarInfo.svelte
  src/routes/script/[name]/VersionHistory.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: import metadata scripts
  scripts/metadata/auto-fill-publisher-date.yaml
  scripts/metadata/autocomplete-volume-values.yaml
  scripts/metadata/capitalize-series.yaml
  scripts/metadata/clear-bookmark.yaml
  scripts/metadata/comic-tags-toolbox.yaml
  scripts/metadata/convert-10-point-rating.yaml
  scripts/metadata/copy-move-field.yaml
  scripts/metadata/data-manager.yaml
  scripts/metadata/erase-database-tags.yaml
  scripts/metadata/export-book-list-full.yaml
  scripts/metadata/insert-5-point-rating.yaml
  scripts/metadata/more-scan-information-from-filename.yaml
  scripts/metadata/move-the-to-series-end.yaml
  scripts/metadata/priat.yaml
  scripts/metadata/pull-list.yaml
  scripts/metadata/reading-club.yaml
  scripts/metadata/remove-leading-numbers.yaml
  scripts/metadata/scan-information-from-filename.yaml
  scripts/metadata/scanner-scan.yaml
  scripts/metadata/store-plus.yaml
  scripts/metadata/story-arc-from-titles.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: import metadata management scripts (#8)
  codegen/script-schema.ts
  scripts/metadata/auto-fill-publisher-date.yaml
  scripts/metadata/autocomplete-volume-values.yaml
  scripts/metadata/capitalize-series.yaml
  scripts/metadata/clear-bookmark.yaml
  scripts/metadata/comic-tags-toolbox.yaml
  scripts/metadata/convert-10-point-rating.yaml
  scripts/metadata/copy-move-field.yaml
  scripts/metadata/data-manager.yaml
  scripts/metadata/erase-database-tags.yaml
  scripts/metadata/export-book-list-full.yaml
  scripts/metadata/insert-5-point-rating.yaml
  scripts/metadata/more-scan-information-from-filename.yaml
  scripts/metadata/move-the-to-series-end.yaml
  scripts/metadata/priat.yaml
  scripts/metadata/pull-list.yaml
  scripts/metadata/reading-club.yaml
  scripts/metadata/remove-leading-numbers.yaml
  scripts/metadata/scan-information-from-filename.yaml
  scripts/metadata/scanner-scan.yaml
  scripts/metadata/store-plus.yaml
  scripts/metadata/story-arc-from-titles.yaml
  scripts/script-schema.yaml
  src/lib/type/comic-rack-script.type.ts
  src/routes/script/[name]/SidebarInfo.svelte
  src/routes/script/[name]/VersionHistory.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

feat: import the file management scripts
  scripts/file-management/change-file-link.yaml
  scripts/file-management/convert-to-fileless.yaml
  scripts/file-management/duplicates-manager.yaml
  scripts/file-management/guided-rename.yaml
  scripts/file-management/library-organizer.yaml
  scripts/file-management/move-files.yaml
  scripts/file-management/organize-library-files-and-folders.yaml
  scripts/library-organizer.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: import the file management scripts (#9)
  scripts/file-management/change-file-link.yaml
  scripts/file-management/convert-to-fileless.yaml
  scripts/file-management/duplicates-manager.yaml
  scripts/file-management/guided-rename.yaml
  scripts/file-management/library-organizer.yaml
  scripts/file-management/move-files.yaml
  scripts/file-management/organize-library-files-and-folders.yaml
  scripts/library-organizer.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: import the other scripts
  scripts/other/backup-manager.yaml
  scripts/other/badaap-comic-reader.yaml
  scripts/other/checklist-creator.yaml
  scripts/other/coverflow-info-panel.yaml
  scripts/other/create-combined-script.yaml
  scripts/other/fill-series.yaml
  scripts/other/find-image-resolution-for-comicrack.yaml
  scripts/other/find-missing-external.yaml
  scripts/other/find-missing-issues-offline.yaml
  scripts/other/malor89-s-perl-scripts.yaml
  scripts/other/metadata-info-panel.yaml
  scripts/other/move-first-page-to-end.yaml
  scripts/other/new-comic-entry-via-barcode.yaml
  scripts/other/open-with.yaml
  scripts/other/remove-all-bookmarks.yaml
  scripts/other/series-info-panel.yaml
  scripts/other/web-viewer-for-comicrack.yaml
  scripts/other/webcomic-helper.yaml
  scripts/other/weekly-comic-releases.yaml
  scripts/other/write-file-names-to-text-file.yaml
  scripts/other/write-missing-issues-to-text-file.yaml
  scripts/other/write-missing-volumes-to-text-file.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: import the other scripts (#11)
  scripts/other/backup-manager.yaml
  scripts/other/badaap-comic-reader.yaml
  scripts/other/checklist-creator.yaml
  scripts/other/coverflow-info-panel.yaml
  scripts/other/create-combined-script.yaml
  scripts/other/fill-series.yaml
  scripts/other/find-image-resolution-for-comicrack.yaml
  scripts/other/find-missing-external.yaml
  scripts/other/find-missing-issues-offline.yaml
  scripts/other/malor89-s-perl-scripts.yaml
  scripts/other/metadata-info-panel.yaml
  scripts/other/move-first-page-to-end.yaml
  scripts/other/new-comic-entry-via-barcode.yaml
  scripts/other/open-with.yaml
  scripts/other/remove-all-bookmarks.yaml
  scripts/other/series-info-panel.yaml
  scripts/other/web-viewer-for-comicrack.yaml
  scripts/other/webcomic-helper.yaml
  scripts/other/weekly-comic-releases.yaml
  scripts/other/write-file-names-to-text-file.yaml
  scripts/other/write-missing-issues-to-text-file.yaml
  scripts/other/write-missing-volumes-to-text-file.yaml
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=.

feat: add recommended list and icons
  codegen/generate-category-lists.ts
  codegen/script-schema.ts
  codegen/transform.ts
  scripts/file-management/library-organizer.yaml
  scripts/metadata/data-manager.yaml
  scripts/scrapers/comic-vine-scraper.yaml
  scripts/script-schema.yaml
  src/app.html
  src/lib/type/comic-rack-script.type.ts
  src/routes/script/[name]/PluginHeader.svelte
  src/routes/scripts/[category]/+page.ts
  src/routes/scripts/[category]/ScriptCard.svelte
  src/routes/scripts/[category]/ScriptCategoryFilter.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

fix: format app.html
  src/app.html
Due: none

feat: add recommended list and icons (#13)
  codegen/generate-category-lists.ts
  codegen/script-schema.ts
  codegen/transform.ts
  scripts/file-management/library-organizer.yaml
  scripts/metadata/data-manager.yaml
  scripts/scrapers/comic-vine-scraper.yaml
  scripts/script-schema.yaml
  src/app.html
  src/lib/type/comic-rack-script.type.ts
  src/routes/script/[name]/PluginHeader.svelte
  src/routes/scripts/[category]/+page.ts
  src/routes/scripts/[category]/ScriptCard.svelte
  src/routes/scripts/[category]/ScriptCategoryFilter.svelte
Due: prettier --write --plugin-search-dir=., prettier --check --plugin-search-dir=., eslint

Path conditions:
  prettier --write --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml,yml}
  prettier --check --plugin-search-dir=.: any of: *.{js,ts,svelte,css,scss,postcss,md,json,yaml,yml}
  eslint: any of: *.{js,ts,svelte}
